<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>유저ID로 클릭 내역 조회</title>
    <!-- css import   -->
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <!--  end  -->
</head>
<body class="is-preload">

<div id="wrapper">
    <div id="main">
        <div class="inner">

            <!-- header frag    -->
            <div th:replace="fragments/fragHeader.html :: frag_header"></div>
            <!-- end   -->

            <section>
                <header class="major">
                    <p>
                        총 클릭 개수: <span th:text="${cntClick}"></span>
                        이모지 클릭 인원: <span th:text="${cntPeople}"></span>
                    </p>

                </header>
                <div class="posts">
                    <article>
                        <table>
                            <thead>
                            <tr>
                                <th>유저 ID</th>
                                <th>유저 Tag</th>
                                <th>게시글 ID (MessageId)</th>
                                <th>이모지 클릭 날짜</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="userClickInfo : ${userClickInfos}">
                                <td th:text="${userClickInfo.userId}"></td>
                                <td th:text="${userClickInfo.userTag}"></td>
                                <td th:text="${userClickInfo.messageId}"></td>
                                <td th:text="${userClickInfo.clickDate}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </article>
                </div>
            </section>
        </div>
    </div>

    <!-- sidebar frag    -->
    <div th:replace="fragments/fragSidebar.html :: frag_banner"></div>
    <!-- end   -->
</div>

<!-- script frag -->
<div th:replace="fragments/fragScript.html :: frag_script"></div>
<!-- end   -->
</body>
</html>

