<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="frag_script">
    <!-- Scripts -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/browser.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/breakpoints.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/util.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</div>
</html>