<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Emoji Counting Bot</title>
    <!-- css import   -->
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <!--  end  -->
</head>
<body class="is-preload">

<div id="wrapper">
    <div id="main">
        <div class="inner">

            <section>
                <div class="posts">
                    <article>

                    </article>
                    <article>

                    </article>
                </div>
            </section>

        </div>
    </div>

    <!-- sidebar frag    -->
    <div th:replace="fragments/fragSidebar.html :: frag_banner"></div>
    <!-- end   -->
</div>

<!-- script frag -->
<div th:replace="fragments/fragScript.html :: frag_script"></div>
<!-- end   -->

</body>
</html>