<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Emoji Counting Bot</title>
    <!-- css import   -->
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <!--  end  -->
</head>
<body class>
<!-- banner frag    -->
<div th:replace="/fragments/fragSidebar.html :: frag_banner"></div>
<!-- end   -->

<div id="wrapper">
    <div id="main">
        <div class="inner">

            <section>
                <div class="posts">
                    <article>

                    </article>
                    <article>

                    </article>
                </div>
            </section>

        </div>
    </div>
</div>

</body>
</html>